<div class="container p-3 m-2 bg-secondary">

  <div class="row">
    <div class="col-md-3 text-white mt-2">
      PORTAL DE VIAGENS
    </div>
    <div class="col-md-2 offset-md-3">
      <button class="btn btn-secondary border border-dark">DESTINO</button>
    </div>

    <div class="col-md-2">
      <button class="btn btn-secondary border border-dark">VALORES</button>
    </div>

    <div class="col-md-2">
      <button class="btn btn-secondary border border-dark">CONTATO</button>
    </div>
  </div>

  </div>

  <div class="container">
    <div class="row">
      <div class="text-center col-md-11 ">
        <img src="https://image.freepik.com/vetores-gratis/nave-espacial-voando-no-espaco_18591-52009.jpg"  class="rounded img-fluid" alt="Alien">

      </div>
  </div>


