<div class="container ">

  <div class="row">
    <div class="col-md-6 offset-md-3 mb-3 font-weight-bold ">
      <p class="h2">CONSULTAR VALORES</p>
      </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-2">
      <textarea class="" placeholder="Origem"></textarea>
      </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-2" >
      <textarea class="" placeholder="Destino"></textarea>
      </div>
  </div>


  <div class="row">
    <div class="col-md-6 offset-md-2">
      <textarea class="" placeholder="Data de partida"></textarea>
      </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-2">
      <textarea class="" placeholder="Data de volta"></textarea>
      </div>
  </div>

</div>
